body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#__next {
  background-color: #e4e4e4;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}